:root {
    --test-white: #D8D3D3;
    --dark-background: #121212;
    /*--dark-background: #161A1D;*/
    --card-background: #232323;
    /*--card-background: #1e1e1e;*/
    /*--card-background: rgba(245,243,244,0.26);*/
    --menu-red: rgba(168, 47, 50, 70);
}