.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.menu {
    margin-top:5px;
    background-color: rgba(168, 47, 50, 70);
    position: relative;
    height: calc(100vh - 22px);
    width: 250px;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    text-align: center;
}

.menu-button{
    /*margin: 5px 0 ;*/
    cursor: pointer;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bahnschrift, serif;
    font-size: 19px;
    border-bottom: #161A1D;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.menu-button.unselected{
    /*background-color: rgba(168, 47, 50, 70);*/
    color: #161A1D;
}

.menu-button.selected{
    /*background-color: #161A1D;*/
    /*color: #D8D3D3;*/
    color: #161A1D;
    border-left-style: solid;
    border-left-width: 15px;
    padding-right: 15px;
}
