@import "global.css";

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.menu {
    margin-top:5px;
    background-color: var(--menu-red);
    position: relative;
    height: calc(100vh - 22px);
    width: 250px;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    text-align: center;
}

.menu-button{
    /*margin: 5px 0 ;*/
    cursor: pointer;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bahnschrift, serif;
    font-size: 19px;
    border-bottom: var(--dark-background);
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.menu-button.unselected{
    color: var(--dark-background);
}

.menu-button.selected{

    color: var(--dark-background);
    border-left-style: solid;
    border-left-width: 15px;
    padding-right: 15px;
}
